



*{
  padding: 0;
  margin: 0;
  /* box-sizing: border-box; */
}

h1,h2,h3,h4,h5,h6{
  padding: 20px 0;
}

a{
  font-style: normal;
}

input{
  outline: none;
}

hr{
 margin: 0;
}

.App{
  color: white;
  /* text-align: center; */
  position: relative;
  height: 100vh;
  background-color: rgb(0, 0, 0);
  opacity: 0.9;
}

.App::before{
  /* background-color: black; */
  content: '';
  background-image: url('/public/images/pokemonBG1.jpg');
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  opacity: 0.4;
  z-index: -1;
}


.scroll{
  overflow: auto;
}

.title{
  text-align: center;
  font-size: 25px;
}

.chat_form{
  height: 50vh;
  display: flex;
  justify-content: center;
}
.chat_form div{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  /* background-color: blue; */
  height: 400px;
  width: 400px;
  /* background-color: red; */
  border-radius: 20px;
}



.chat_form input{
  padding: 10px;
  font-size: 20px;
  color:rgb(0, 102, 254) ;
  border: 5px solid rgb(0, 102, 254);
}


.chat_form input::placeholder{
  color: rgb(0, 102, 254);
}

.flex{
  display: flex;
}

.flex_1{
  flex:1;
}

.between{
  justify-content: space-between;
}

.around{
  justify-content: space-around;
}


.center{
  align-items: center;
}


.full_width{
  width: 80%;
}

.btn_web{
  cursor: pointer;
  background-color: rgb(0, 102, 254);
  color: white;
  /* width: 200px; */
  border: 2px solid rgb(132, 132, 132);
  font-size: 20px;
  padding: 15px;
}
.btn_web:hover{
  background-color:rgb(6, 68, 160) ;
}
.btn_web:active{
  background-color:rgb(3, 49, 118) ;
}


.btn_transperant{
  background-color: transparent;
}
/* COLORS */

