
.chat{
    height: 100vh;
}




.chat_userbox{
    display: flex;
    padding:10px;
  
    text-align: right;
    align-items: center;
    cursor: pointer;
}

/* meanwhile solution */
 .chat_userbox > div{
    flex: 1;
 }

.chat_userbox img{
    margin: 0 10px;
    border-radius: 50px;
    height: 60px;
}



.chat_userbox .chat_userbox_title{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.chat_userbox_title h1,h2,h3,h4,h5,p{
    margin: 0;
    padding: 0;
}

.chat_userbox:hover{
    background-color: rgb(98, 98, 116);
}
.chat_userbox:active{
    background-color: rgb(113, 113, 126);
}

/* overflow: scroll; */









#message_input{
    display: flex;
}
#message_input input{
    width: 100%;
    padding: 0 30px;
    font-size: 25px;
}

.message_container{
    display: flex;
    align-items:center;
}

.message{
    background-color: rgb(0, 72, 255);
    color: rgb(249, 249, 249);
    max-width: 500px;
    min-width: 130px;
    margin: 20px;
    border-radius: 20px;
    padding: 10px;
    font-weight: bold;
    /* height: 200px; */
}



.message > div{
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
}
.message > div h4{
    padding: 0;
}

.left{
    justify-content: left;
}
.right{
    justify-content: right;
}


.container{
    max-width: 100%;
}

.row>*{
    padding-right:0;
    padding-left: 0;
}

.Container{
    margin: auto;
    width: 90%;
}


#chat_content{
    /* margin: auto; */
    /* width: 85%; */
    max-height: 547px;
    overflow: auto;
}

#chat_content > div{
    margin: auto;
    width: 85%;
}

#chat_height{
    min-height:88vh
}

.lower_bar{
    background-color: rgb(14, 68, 248);
    padding: 20px;
}

.lower_bar input{
    
    color: white;
    border-radius: 5px;
    padding: 6px 20px;
    font-size: 20px;
    background-color: blue;
    border: none;
    height: 100%;
    
}

.lower_bar input::placeholder{
    color: white;
    opacity: 0.7;
    
}
.test{
    height: 100%;
    min-height: 88vh;
    /* background-color: red; */
}